//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

.card {
  background-color: #1e1e1e;
}

.layout-config {
  background-color: #222;
}

.p-link:focus {
  box-shadow: none !important;
}

.layout-sidebar-dark {
  background: linear-gradient(
    to bottom,
    $menuDarkBgColorFirst 0%,
    $menuDarkBgColorCenter 50%,
    $menuDarkBgColorLast 100%
  );
}

.layout-sidebar-deluxe {
  background: linear-gradient(
    to bottom,
    $menuDeluxeBgColorFirst 0%,
    $menuDeluxeBgColorCenter 50%,
    $menuDeluxeBgColorLast 100%
  );
}

.layout-topbar-dark,
.layout-footer-dark {
  background: linear-gradient(
    to right,
    $menuDarkBgColorFirst 0%,
    $menuDarkBgColorCenter 50%,
    $menuDarkBgColorLast 100%
  );
}

.layout-topbar-deluxe,
.layout-footer-deluxe {
  background: linear-gradient(
    to right,
    $menuDeluxeBgColorFirst 0%,
    $menuDeluxeBgColorCenter 50%,
    $menuDeluxeBgColorLast 100%
  );
}

.layout-sidebar-deluxe {
  .layout-profile {
    .layout-profile-link {
      color: $menuitemDarkColor;

      &:hover {
        color: $menuitemDarkHoverColor;
      }
    }

    ul {
      background-color: $menuitemDarkActiveBgColor;

      li {
        button {
          color: $menuitemDarkColor;

          &:hover {
            color: $menuitemDarkHoverColor;
          }
        }
      }
    }
  }
}
