//Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future

.card{
  background-color: #1e1e1e;
}

.layout-config{
  background-color: #222;
}

.layout-config .layout-config-button {
  background-color: #F0563D;
}

.layout-sidebar-dark{
  background: linear-gradient(to bottom, $menuDarkBgColorFirst 5%, $menuDarkBgColorMiddle 35%, $menuDarkBgColorLast 100%);
}

.layout-topbar, .layout-footer{
  background: linear-gradient(to right, #000000 5%, #b43c3d 45%, #000000 100%);
}

.p-link:focus{
  box-shadow: none !important;
}
